# Importing Libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
cars_data = pd.read_csv(r"D:\Data Is Good\Projects\car price prediction\Car details v3.csv")
cars_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [3]:
# We have to decide which columns to keep. We can see torque can be removed. So we will drop that column.

cars_data.drop(columns = ['torque'], inplace = True)

In [4]:
cars_data.shape

(8128, 12)

# Preprocessing:

In [6]:
# Checking null values:

pd.DataFrame({
    'Column': cars_data.columns,
    'Null count': cars_data.isnull().sum().values,
    'Null %tage': 100*cars_data.isnull().sum().values/cars_data.shape[0]
})

           Column  Null count  Null %tage
0            name           0    0.000000
1            year           0    0.000000
2   selling_price           0    0.000000
3       km_driven           0    0.000000
4            fuel           0    0.000000
5     seller_type           0    0.000000
6    transmission           0    0.000000
7           owner           0    0.000000
8         mileage         221    2.718996
9          engine         221    2.718996
10      max_power         215    2.645177
11          seats         221    2.718996

In [7]:
# since we have 8k records and only 200 odd records are missing, we will drop those records
cars_data.dropna(inplace = True)

In [8]:
cars_data.shape
# We can see we have dropped about 800 records

(7907, 12)

In [11]:
# Checking duplicate values:

cars_data.duplicated().sum()

1189

In [12]:
cars_data.drop_duplicates(inplace=True)

cars_data.shape

(6718, 12)

## Data Analysis:

In [14]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 682.3+ KB

In [15]:
a = 1_000_000_000
b = 2_000

c = a*b

print(c)

2000000000000

In [16]:
print(f'{c:,}') #adding separator

2,000,000,000,000